[submodule "tests/fixtures/buck/02-numpy-pandas/prelude"]
	path = tests/fixtures/buck/02-numpy-pandas/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "tests/fixtures/buck/04-pure-python-sdist/prelude"]
	path = tests/fixtures/buck/04-pure-python-sdist/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "tests/fixtures/buck/05-local-fixup/prelude"]
	path = tests/fixtures/buck/05-local-fixup/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "tests/fixtures/buck/10-multi-tree/prelude"]
	path = tests/fixtures/buck/10-multi-tree/prelude
	url = https://github.com/facebook/buck2-prelude.git
